/* You can add global styles to this file, and also import other style files */

fieldset {
    border: 1px solid #6c757d;;
    padding: 10px;
    box-shadow: 5px 10px 8px 5px #6c757d;;
    padding: 20px;
}
legend {
    font-family: "Permanent Marker", cursive;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}